@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

:root{
    --blue: #2A7AE4;
    --dark-blue: #0c388a;
    --light-blue: #EAF2FD;
    --black: #464646;
    --gray: #A2A2A2;
    --light-gray: #C8C8C8;
    --white: #ffffff;
    --whitey: #F5F5F5;
    --font-raleway:  'Raleway', sans-serif;
    --viewport-height: 100vh;
    --viewport-width: 100vw;
}



body{
    font-family: var(--font-raleway);
}

.title{
    font-family: var(--font-raleway);
    font-weight: bolder;
    font-size: 1.5rem;
    color:var(--black);
}

.subtitle{
    font-family: var(--font-raleway);
    font-weight: bold;
    font-size: 1rem;
    color:var(--black);
}

.text{
    font-family: var(--font-raleway);
    font-size: .8rem;
    color:var(--black);
}

.title{
    font-family: var(--font-raleway);
    font-weight: bolder;
    font-size: 1.5rem;
    color:var(--blue);
}

.font-color--blue{
    color:var(--blue);
}

.font-color--black{
    color:var(--black);
}


footer{
    padding: 1rem;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

footer>*{
    margin: 0.5rem;
} 