@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

:root{
    --blue: #2A7AE4;
    --dark-blue: #0c388a;
    --light-blue: #EAF2FD;
    --black: #464646;
    --gray: #A2A2A2;
    --light-gray: #C8C8C8;
    --white: #ffffff;
    --whitey: #F5F5F5;
    --font-raleway:  'Raleway', sans-serif;
    --viewport-height: 100vh;
}

.title{
    font-family: var(--font-raleway);
    font-weight: bolder;
    font-size: 1.5rem;
}

.subtitle{
    font-family: var(--font-raleway);
    font-weight: bold;
    font-size: 1rem;
}

.text{
    font-family: var(--font-raleway);
    font-size: .8rem;
}


body{
    font-family: var(--font-raleway);
}

main, footer {
    padding: 1rem;
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

main>*, footer>*{
    margin: 0.5rem;
}