@import url('../bases.css');


.button{
    border-color: var(--blue);
    border-style:solid;
    border-width: 1.5px;
    cursor:pointer;
    font-size: 1rem;
    padding: 0.5rem 1.5rem;
    text-decoration:none;
    transition: all 0.3s;
}

.button:hover{
    background-color: var(--dark-blue);
    border-color: var(--dark-blue);
    color: var(--white);
}

.button--blue{
    background-color: var(--blue);
    color: var(--white);
}

.button--white{
    background-color: var(--white);
    color: var(--blue);
}
