@import url('style.css');


.button{
    border-color: var(--blue);
    border-style:solid;
    cursor:pointer;
    font-size: 1rem;
    padding: 1rem 1.5rem;
    text-decoration:none;
    transition: all 0.3s;
}

.button:hover{
    background-color: var(--dark-blue);
    border-color: var(--dark-blue);
    color: var(--white);
}

.button--blue{
    background-color: var(--blue);
    color: var(--white);
}

.button--white{
    background-color: var(--white);
    color: var(--blue);
}
