@import url(../style.css);

.input-box{
    background-color: var(--white);
    border: 0;
    border-bottom: 1px solid var(--light-gray);
    color: var(--black);
    font-size: 14px;
    outline:none;
}