@import url(../bases.css);

.search-input{
    font-family: var(--font-raleway);
    border: 0;
    outline:none;
}

@media screen and (max-width:768px) {
    .search-input{
        display: none;
    }
}