@import url(../bases.css);


.contact{
    padding: 2rem;
    background-color: var(--light-blue);
    display: grid;
    gap: 2rem;
   
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: 1fr 1fr 2fr;
    justify-items: center;
    grid-template-areas: 
    "logo links form"
    ".    links form";
}


.contact .logo{
    grid-area: logo;
}

.contact__links{
    grid-area: links;
}

.contact__form{
    grid-area: form;
}


@media  screen and (max-width:1200px) {
    .contact{
        grid-template-rows: 1fr 2fr;
        grid-template-columns: 1fr 1fr;
        gap: 0.5rem;
        grid-template-areas: 
        "logo form"
        "links form";
    }
    
}
@media  screen and (max-width:768px) {
    .contact{
        gap: 1rem;
        grid-template-rows: 0.5fr 2fr 2fr;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "logo"
        "links"
        "form";
    }
    
}