.contact__links{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: space-around;
    min-width: 200px;
}

@media  screen and (max-width:1200px){
    .contact__links{
        text-align: center;
    }
    
}