.contact__form{
    display: flex;
    gap: 1rem;
    flex-direction: column;
    justify-items: center;
    align-items: left;
}

.contact__form .form__item, .input__box{
    width: 30vw;
    min-width: 250px;
}

.contact__form .button{
    align-self: start;
}

