.hero{
    display: flex;
    height: 35vh;
    background: url(../../img/Hero.png) center;
    flex-direction: column;
    
    gap:1rem;
    align-content: start;
    justify-content:flex-end;
    justify-items:start; 
    padding: 2rem 3rem;
    color: white;
}

.hero button{
    align-self: start;
}

.hero-title{
    font-size: 2.5rem;
    font-weight: 800;
}

