@import url(../bases.css);


.login-section{
    background-color: var(--whitey);
    display: flex;
    gap: 1rem;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    justify-items: center; 
    padding: 5rem;
    min-height: 45vh;
}
.login-section .form__item, .input__box{
    width: 30vw;
    min-width: 250px;
}

