@import url(../bases.css);

.product {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: var(--whitey);
  padding: 1rem;
  gap:1rem;
}

.product-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:2rem;
    padding: 1rem;
}

.product-description {
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: justify;
  min-width:20rem;
  max-width: 40rem;
  
}
.product .img {
  max-height: 70vh;
  max-width: 80vw;
  object-fit: contain;

}
