.product-catalog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding: 6rem;
  gap: 4rem;
}

.product-section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.product-section__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-section__header > * {
  display: flex;
}
.product-section__header .icon {
  font-size: 1rem;
}

.product-cards {
  display: flex;
  justify-content: space-around;
  gap: 0.8rem;
  flex-wrap: wrap;
  max-height: 510px;
  overflow: hidden;
}

.product-card {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.product-card .img {
  height: 174px;
  width: 156px;
  object-fit: fill;
}
