@import url(../bases.css);


.start-session{
    background-color: var(--whitey);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-items: center; 
    padding: 2rem;
}